@model IEnumerable<Partner>

@if (User.HasClaim("Permission", "Partner.View"))
{


    <div class="p-3">

        <div class="d-flex justify-content-between">
            <h1>Partners</h1>


            @if (User.HasClaim("Permission", "Partner.Add"))
            {
                <p>
                    <a asp-action="Save" class="btn btn-primary">Add</a>
                </p>
            }


        </div>

        <div class="table-responsive">
            <table id="categoryTable" class="table table-striped  table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th width="20%">
                            Name
                        </th>
                        <th width="20%">
                            Email
                        </th>
                        <th width="20%">
                            Partner Type
                        </th>
                        <th width="20%">
                            Phone number
                        </th>
                        <th width="15%">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @(item.partnerType == PartnerType.Supplier ? "Supplier" : item.partnerType == PartnerType.RetailCustomer ? "Customer" : "Retail")
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            @if (item.partnerType == PartnerType.RetailCustomer || item.partnerType == PartnerType.Supplier)
                            {
                                <td class="row gap-1">

                                    @if (User.HasClaim("Permission", "Partner.Edit"))
                                    {
                                        <a asp-action="Save" asp-route-id="@item.Id" class="col-3 btn btn-sm btn-info">Edit</a>
                                    }


                                    @if (User.Identity.Name != item.Name && User.HasClaim("Permission", "Partner.Edit"))
                                    {
                                        <button type="button" class="col-4 btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.Id" data-name="@item.Name">Delete</button>

                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <partial name="Delete" />

    @section Scripts {
        <script>
            $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);

                var Id = button.data('id');
                var Name = button.data('name');

                $(this).find('#Name').text(Name);
                $(this).find('#IdToDelete').val(Id);
            });

            $('#confirmDeleteButton').on('click', function () {
                $('#deleteUser').submit();
            });
        </script>
    }


}