@model List<Item>
@if (User.HasClaim("Permission", "ClothingItem.View"))
{
	<div class="p-3">

		<div class="d-flex justify-content-between">
			<h1>Clothing Items</h1>

			@if (User.HasClaim("Permission", "ClothingItem.Add"))
			{
				<a asp-action="Save" class="btn btn-primary">Add</a>
			}

		</div>

		<div class="table-responsive">
			<table id="categoryTable" class="table table-striped  table-bordered">
				<thead class="thead-dark">
					<tr>
						<th width="10%">
							Name
						</th>
						<th width="20%">
							Brand
						</th>
						<th width="10%">
							Color
						</th>
						<th width="20%">
							Clothing Type
						</th>
						<th width="10%">
							Size
						</th>
						<th width="10%">
							For
						</th>
						<th width="20%">
							Actions
						</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@item.Name
							</td>
							<td>
								@item.Brand.Name
							</td>
							<td>
								@item.Color.Name
							</td>
							<td>
								@item.ItemType.Name
							</td>
							<td>
								@item.Size.Name
							</td>
							<td>
								@item.TargetAudience.Name
							</td>


							<td class="row gap-1">


								@if (User.HasClaim("Permission", "ClothingItem.Edit"))
								{
									<a asp-action="Save" asp-route-id="@item.Id" class="col-3 btn btn-sm btn-info">
										Edit
									</a>
								}

								@if (User.HasClaim("Permission", "ClothingItem.Delete"))
								{
									<button type="button" class="col-4 btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.Id" data-name="@item.Name">
										Delete
									</button>
								}

							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<partial name="Delete" />

	@section Scripts {
		<script>
			$('#confirmDeleteModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);

				var Id = button.data('id');
				var Name = button.data('name');

				$(this).find('#Name').text(Name);
				$(this).find('#IdToDelete').val(Id);
			});

			$('#confirmDeleteButton').on('click', function () {
				$('#deleteUser').submit();
			});
		</script>
	}
}
