@using PresentationLayer.Areas.Stock.ViewModels
@model BranchItemsFiltersVM

@if (Model.Id != 0)
{
	<!-- Branch Items Filters -->
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h1 class="m-0">Branch Items</h1>
	</div>

	<!-- Filters Section -->
	<div class="card mb-3 compact-filter-card">
		<div class="card-body compact-filter-body">
			<form asp-action="ViewBranchItems" asp-route-id="@Model.Id" method="get" class="row g-2 align-items-center">
				<input type="hidden" asp-for="@Model.Id" />

				<!-- Branch Filter -->
				<div class="col-md-2">
					<select asp-for="BranchId" asp-items="Model.Branches" class="form-select form-select-sm">
						<option value="">All Branches</option>
					</select>
				</div>

				<!-- Numbers Filters -->

				<div class="col-md-2">
					<input asp-for="QuantityFilter" type="number" min="0" class="form-control form-control-sm" placeholder="Min. Qty" />
				</div>

				<div class="col-md-2">
					<input asp-for="RestockThresholdFilter" type="number" min="0" class="form-control form-control-sm" placeholder="Min. RestockThreshold" />
				</div>

				<div class="col-md-2">
					<input asp-for="BuyingPriceAvgFilter" type="number" min="0" class="form-control form-control-sm" placeholder="Min. BuyingPriceAvg" />
				</div>


				<div class="col-md-2">
					<input asp-for="LastBuyingPriceFilter" type="number" min="0" class="form-control form-control-sm" placeholder="Min. LastBuyingPrice" />
				</div>


				<div class="col-md-2">
					<input asp-for="SellingPriceFilter" type="number" min="0" class="form-control form-control-sm" placeholder="Min. SellingPrice" />
				</div>


				<div class="col-md-2">
					<input asp-for="DiscountRateFilter" type="number" min="0" class="form-control form-control-sm" placeholder="Min. DiscountRate" />
				</div>

				<div class="col-md-2">
					<input asp-for="OutDatedInMonthsFilter" type="number" min="0" class="form-control form-control-sm" placeholder="Min. OutDatedInMonths" />
				</div>

				<!-- Apply Button -->
				<div class="col-md-2 d-flex justify-content-end align-items-center">
					<button type="submit" class="btn btn-sm btn-primary">Apply</button>
				</div>
			</form>
		</div>
	</div>

	<!-- Branch Items Table -->
	@if (Model.BranchItems.Count == 0)
	{
		<h3 class="mt-4">No Branch Items Found</h3>
	}
	else
	{
		<div>
			@if (User.HasClaim("Permission", "ClothingItem.BranchItem"))
			{
				<div class="table-responsive">
					<table id="categoryTable" class="table table-striped table-bordered text-center align-middle">
						<thead class="thead-dark">
							<tr>
								<th>Branch</th>

								<th>
									Quantity
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="qty_asc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-down"></i>
									</a>
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="qty_desc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-up"></i>
									</a>
								</th>

								<th style="white-space: nowrap;">
									Restock Threshold
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="rth_asc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-down"></i>
									</a>
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="rth_desc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-up"></i>
									</a>
								</th>

								<th style="white-space: nowrap;">
									Buying Price Avg
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="avg_asc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-down"></i>
									</a>
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="avg_desc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-up"></i>
									</a>
								</th>

								<th style="white-space: nowrap;">
									Last Buying Price
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="last_asc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-down"></i>
									</a>
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="last_desc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-up"></i>
									</a>
								</th>

								<th>
									Selling Price
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="sell_asc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-down"></i>
									</a>
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="sell_desc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-up"></i>
									</a>
								</th>

								<th>
									Discount Rate(%)
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="disc_asc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-down"></i>
									</a>
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="disc_desc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-up"></i>
									</a>
								</th>

								<th>
									Max. Unsold Months
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="out_asc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-down"></i>
									</a>
									<a asp-action="ViewBranchItems"
									   asp-route-SortBy="out_desc"
									   asp-route-PageId="1"
									   asp-route-BranchId="@Model.BranchId"
									   asp-route-QuantityFilter="@Model.QuantityFilter"
									   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
									   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
									   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
									   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
									   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
									   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter"
									   style="color: white;">
										<i class="fas fa-sort-up"></i>
									</a>
								</th>

								<th>
									Save
								</th>
							</tr>
						</thead>
						<tbody class="text-center align-middle">
							@foreach (var branchItem in Model.BranchItems)
							{
								<tr class="saveData">
									<td>@branchItem.Branch?.Name</td>
									<td>
										<input type="number" value="@branchItem.Quantity" class="form-control text-center Quantity" disabled />
									</td>
									<td>
										<input type="number" value="@branchItem.RestockThreshold" class="form-control text-center RestockThreshold" />
									</td>
									<td>
										<input type="number" value="@branchItem.BuyingPriceAvg.ToString("N2")" class="form-control text-center BuyingPriceAvg" disabled />
									</td>
									<td>
										<input type="number" value="@branchItem.LastBuyingPrice.ToString("N2")" class="form-control text-center lastBuyingPrice" disabled />
									</td>
									<td>
										<input type="number" value="@branchItem.SellingPrice?.ToString("N2")" class="form-control text-center SellingPrice" />
									</td>
									<td>
										<input type="number" value="@branchItem.DiscountRate" class="form-control text-center DiscountRate" min="0" max="100" />
									</td>
									<td>
										<input type="number" value="@branchItem.OutDatedInMonths" class="form-control text-center OutDatedInMonths" />
									</td>

									<td>
										<button type="button" class="btnSaveItemBranch btn btn-secondary" data-branchId="@branchItem.BranchId" data-itemId="@branchItem.ItemId" name="name">
											Save
										</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}

		</div>
	}
	@if (Model.NoPages > 0)
	{
		<div class="d-flex justify-content-center">
			<nav aria-label="Page navigation example">
				<ul class="pagination custom-pagination mb-0">
					@if (Model.PageId > 1)
					{
						<li class="page-item">
							<a class="page-link" asp-action="ViewBranchItems"
							   asp-route-PageId="@(Model.PageId - 1)"
							   asp-route-SortBy="@Model.SortBy"
							   asp-route-BranchId="@Model.BranchId"
							   asp-route-QuantityFilter="@Model.QuantityFilter"
							   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
							   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
							   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
							   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
							   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
							   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter">
								Previous
							</a>
						</li>
					}
					@for (int i = 1; i <= Model.NoPages; i++)
					{
						<li class="page-item @(i == Model.PageId ? "active" : "")">
							<a class="page-link"
							   asp-action="ViewBranchItems"
							   asp-route-PageId="@i"
							   asp-route-SortBy="@Model.SortBy"
							   asp-route-BranchId="@Model.BranchId"
							   asp-route-QuantityFilter="@Model.QuantityFilter"
							   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
							   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
							   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
							   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
							   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
							   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter">
								@i
							</a>
						</li>
					}
					@if (Model.NoPages > Model.PageId)
					{
						<li class="page-item">
							<a class="page-link"
							   asp-action="ViewBranchItems"
							   asp-route-PageId="@(Model.PageId + 1)"
							   asp-route-SortBy="@Model.SortBy"
							   asp-route-BranchId="@Model.BranchId"
							   asp-route-QuantityFilter="@Model.QuantityFilter"
							   asp-route-BuyingPriceAvgFilter="@Model.BuyingPriceAvgFilter"
							   asp-route-LastBuyingPriceFilter="@Model.LastBuyingPriceFilter"
							   asp-route-SellingPriceFilter="@Model.SellingPriceFilter"
							   asp-route-RestockThresholdFilter="@Model.RestockThresholdFilter"
							   asp-route-DiscountRateFilter="@Model.DiscountRateFilter"
							   asp-route-OutDatedInMonthsFilter="@Model.OutDatedInMonthsFilter">
								Next
							</a>
						</li>
					}
				</ul>
			</nav>
		</div>
	}

}



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>

		 //Chnage BranchItem Values.
		  $(".btnSaveItemBranch").on("click", function () {
			let branchId = $(this).data("branchid");
			let itemId   = $(this).data("itemid");

			let parent = $(this).closest(".saveData");

			let quantity        = parent.find(".Quantity").val();
			let buyingPriceAvg  = parent.find(".BuyingPriceAvg").val();
			let lastBuyingPrice = parent.find(".lastBuyingPrice").val();
			let sellingPrice    = parent.find(".SellingPrice").val();
			let discountRate	= parent.find(".DiscountRate").val();
			let restockThreshold= parent.find(".RestockThreshold").val();
			let outDatedInMonths= parent.find(".OutDatedInMonths").val();

			var data = {
				Quantity: quantity,
				BuyingPriceAvg: buyingPriceAvg,
				LastBuyingPrice: lastBuyingPrice,
				SellingPrice: sellingPrice,
				BranchId: branchId,
				ItemId: itemId,
				DiscountRate:discountRate,
				RestockThreshold: restockThreshold,
				OutDatedInMonths:outDatedInMonths
			};

			$.ajax({
				url: '@Url.Action("SaveBranchItem", "ClothingItem", new { area = "Item" })',
				type: "POST",

				data: {BranchItemDTO : data},
				success: function (res) {
					console.log("Saved:", res);

					if (res.status) {
						toastr.success("Branch item saved successfully!");
					} else {
						toastr.error("Failed to save branch item.");
					}
				},
				error: function (xhr, status, error) {
					console.error("Error:", error);
					toastr.error("Something went wrong: " + error);
				}
			});
		});
	</script>
}

@section Styles {
	<link href="~/css/pagination.css" rel="stylesheet" />
	<link href="~/css/tableStyling.css" rel="stylesheet" />
}